<html>
<head>
  <style>


  </style>
</head>

<%= stylesheet_link_tag 'tasks_folder/new_task/new_task', media: 'all', 'data-turbo-track': 'reload' %>


<body>
  <div class="container">
    <%= link_to "Back", category_tasks_path(@category), class: 'back-button-new-task' %>
    <h1 class='new-task-food-title'>New Task for <%= @category.name %></h1>
    <%= render 'form', category: @category, task: @task %>
  </div>
</body>
</html>
