
#edit-this-task-button{
    border: none;
    background-color: rgb(40, 167, 69)
}

#edit-this-task-button:hover{
    background-color: #1E7E34;
}


#delete-task-button-container{
    width: 100%;
    margin: 0 !important;
    display: flex;
    justify-content: center;

}

#delete-task-button{
    position: static;
}