<%= stylesheet_link_tag 'categories/edit_category/edit_category', media: 'all', 'data-turbo-track': 'reload' %>

<div class="container">
  <h1>Editing Category</h1>

  <%= render "form", category: @category %>

  <div class="actions">
    <%= link_to "Show this category", @category, class:"show-category-edit" %>
    <%= link_to "Back to Categories", categories_path,  class: "back-to-categories-edit"  %>
  </div>
</div>
