<head>
   <style>
     .addButton {
       margin:auto;
       padding: 2px 7px;
       border-radius: 5px;
       position:relative;
       text-decoration: none;
       font-size: 1.2rem;
       color:green;
       background: rgba(100,100,100, .3)
     }

     .addButton:hover {
        color:rgba(0, 100, 0, 0.5);
        background: rgba(100,100,100, .5)
     }

     .addButton:hover::after{
      display:flex;
      width:max-content;
      position:absolute;
      content:"Add Something";
      font-size: .9rem;
      color: green;
      left: 30px;
      top: 5px
     }

     h1{
      width:max-content;
      display:flex;
      gap: 20px;
     }
   </style>
 </head>



<p style="color: green"><%= notice %></p>

<h1>Categories <%= link_to "+", new_category_path, class: "addButton" %></h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>

    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>


